<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unit Converter</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id="header">
        <h1>Unit Converter</h1>
        <nav>
            <a href="/length">Length</a>
            <a href="/Weight">Weight</a>
            <a href="/Temperature">Temperature</a>
        </nav>
        <div id="conversion-area">
            {% block body %}{% endblock %}
        </div>
    </div>
</body>
</html>