{% extends "layout.html" %}

{% block body %}

    <form action="/length" method="post">
        <p>Enter the length to convert</p>
        <input type="text" name="length" placeholder="Length" autofocus autocomplete="off">
        <div id="units">
            <label for="from-unit">From</label>
            <select name="from-unit" id="from-unit">
                <option value="mm">Millimeters</option>
                <option value="cm">Centimeters</option>
                <option value="m" selected>Meters</option>
                <option value="km">Kilometers</option>
                <option value="inch">Inchs</option>
                <option value="foot">Feet</option>
                <option value="yard">Yards</option>
                <option value="mile">Miles</option>
            </select>
            <label for="to-unit">To</label>
            <select name="to-unit" id="to-unit">
                <option value="mm">Millimeters</option>
                <option value="cm">Centimeters</option>
                <option value="meter">Meters</option>
                <option value="km">Kilometers</option>
                <option value="inch">Inchs</option>
                <option value="foot" selected>Feet</option>
                <option value="yard">Yards</option>
                <option value="mile">Miles</option>
            </select>
        </div>
        <button type="submit">Convert</button>
    </form>

{% endblock %}